{% extends "base.html" %}

{% block title %}Главная страница{% endblock  %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-top vh-50">
        <div class="p-5 bg-light rounded-4 shadow-lg text-center" 
            style="transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;"
            onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 10px 20px rgba(0, 0, 0, 0.2)';"
            onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.1)';">
            <h1 class="mb-3">Outpeer Students &amp; Course Management System</h1>
            <h3 class="mb-3">Добро пожаловать на наш новый ресурс!</h3>
            <br>
            <br>
            <div class="text-center">
                <p class="mb-2">Если Вы новый пользователь, пройдите регистрацию.</p>
                <a href="{% url 'register' %}" class="btn btn-outline-primary">Регистрация</a>
                <br>
                <br>
                <p class="mb-2">Если Вы ранее регистрировались, найдите себя в списке пользователей.</p>
                <a href="{% url 'all_users' %}" class="btn btn-outline-primary">Список пользователей</a>
            </div>
        </div>
    </div>


   
{% endblock  %}