{% extends "base.html" %}

{% block title %}Список пользователей{% endblock  %}

{% block content %}
    <h3>Список пользователей</h3>
    <div class="ms-3">
        <br>
        <table class="table w-50">
        <tr><th>ID</th><th>Имя</th><th>Фамилия</th><th>Email</th><th>Посещает курсы</th><th>Статус</th></tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{% for course in user.courses.all %}
                    <li>{{ course.course_name }}</li>
                {% empty %}
                    -
                {% endfor %}</td>
                <td>{{ user.role }}</td>
            </tr>
        {% endfor %}
        </table>
        <br>
        <br>
        <div>
            {% if users.has_previous %}
                <a href="?page=1">Первая</a>
                <a href="?page={{ users.previous_page_number }}">Назад</a>
            {% endif %}

            <span>Страница {{ users.number }} из {{ users.paginator.num_pages }}</span>

            {% if users.has_next %}
                <a href="?page={{ users.next_page_number }}">Вперёд</a>
                <a href="?page={{ users.paginator.num_pages }}">Последняя</a>
            {% endif %}
                  
        </div>
        <br>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">На Главную</a>
    </div>
    

{% endblock  %}